#constructor-cast-container{
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
#constructor-cast-main{
	/*background-color: blue; */
	box-shadow: 0 0 15px -5px black;
	position: absolute; 
	vertical-align: middle; 
	border-style: none;

	background-position: center:
	background-size: cover;
	font-size: 16px;
	text-align: left;
}
#constructor-cast-fake{
	text-align: left;
	font-size: 16px;
	width: 100%;
	position: absolute; 
	top: 0;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
}
.text-insertation-tool{
	/*top: 25px;*/
	/*left: 25px;*/
	padding: 5px;
	/*border: 1px dashed black;*/
	outline: 1px dashed black; 
	box-shadow: 0 0 0 1px white;
	cursor: pointer;
	display: inline-block;
}
.box {
	border: 2px solid black;
	width: 100px;
	height: 100px;
	background-color: green;
	margin: 27px;
	position: relative;
}

.ui-rotatable-handle {
	background: url(../../ittps://cdn.jsdelivr.net/jquery.ui.rotatable/1.0.1/rotate.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 25px;
	width: 25px;
	position: absolute;
}

.ui-rotatable-handle-sw {
	bottom: -27px;
	left: -27px;
}

.ui-rotatable-handle-nw {
	top: -27px;
	left: -27px;
}

.ui-rotatable-handle-se {
	bottom: -27px;
	right: -27px;
}

.ui-rotatable-handle-ne {
	top: -27px;
	right: -27px;
}
.text-insertation-tool{
	/*top: 50px;*/
	/*left: 50px;*/
	padding: 10px;
	background: none;
	box-sizing: border-box;
	position: absolute;
}
.text-insertation-tool .insertation-content{
	// resize: both;
	width: 100%;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	text-decoration: inherit;
}
.text-insertation-tool > div:not(.ui-resizable-handle){
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
    background-image: url(../../img/icons/rotate-tool.png);
    background-size: 16px;
    height: 25px;
    width: 25px;
    position: absolute;
    z-index: 101;
    background-color: rgba(0,0,0,.6);
    border-radius: 50%;

}
.text-insertation-tool div.insertation-moving-tool{
	top: -13px;
    left: -13px; 
    background-image: url(../../img/icons/move-tool.png);
}
.text-insertation-tool .ui-rotatable-handle.ui-draggable{
	bottom: -13px;
    left: -13px;
}
.text-insertation-tool div.insertation-editing-tool{
	top: -13px;
    right: -13px;
    background-image: url(../../img/icons/delete-tool.png);
    margin: 0;
    padding: 0;
}
.text-insertation-tool:not(.editable){
	border: none;
	box-shadow: none;
	outline: none;
}
.text-insertation-tool:not(.editable) > div{
	display: none;
}
.text-insertation-tool:not(.editable) .insertation-content {
	/*resize: none;*/
}

.constructor-additional-ui{
	display: none;
}


.insertation-content{
	/*min-width: 150px;*/
}



.constructor-additional-ui{
	font-size: 16px;
	left: 0px;
	background-color: rgba(255,255,255,1);
	position: absolute;
}
.constructor-additional-ui *{
	/*display: inline-block;*/
}